/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start of my styling */

html {
  font-size: 62.5%;
  border: solid #173e43 1rem;
  background-color: #dddfd4;
}

body {
  background: border-box;
  margin: 25px;
}

/* styling on About header */
h1 {
  font-size: 9rem;
  font-family: "Calligraffitti", cursive;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

/* entire nav bar */
nav {
  font-family: "Cormorant Garamond", serif;
  display: flex;
  justify-content: space-around;
  font-size: 2.75rem;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* styling on each nav button */
nav a {
  color: black;
  text-decoration: none;
  border-radius: 40px;
  border: 2px solid #173e43;
  padding: 10px;
}

/*styling for hover on nav buttons*/
nav a:hover {
  background-color: #173e43;
  text-decoration: none;
  color: #dddfd4;
}

.banner {
  background-image: url("banner");
  padding-bottom: 30px;
}

/* sizing for banner image */
img {
  width: 119rem;
  height: 50rem;
}

/* how we started section */
h2 {
  font-family: "Calligraffitti", cursive;
  padding-bottom: 20px;
  font-size: 4rem;
  text-align: left;
  padding-top: 15px;
}

.about-section p {
  font-size: 2.5rem;
  border-top: dashed black 3px;
  padding-top: 15px;
  font-family: "Cormorant Garamond", serif;
  padding-top: 15px;
}

/* what we do section */
h3 {
  font-family: "Calligraffitti", cursive;
  padding-bottom: 20px;
  padding-top: 30px;
  font-size: 4rem;
  text-align: left;
}

.another-section p {
  font-size: 2.5rem;
  border-top: dashed black 3px;
  padding-top: 15px;
  font-family: "Cormorant Garamond", serif;
  padding-bottom: 35px;
}

/* styling on footer copyright logo */
footer {
  color: black;
  text-decoration: none;
  font-family: "Calligraffitti", cursive;
  font-size: 2rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .img {
    width: 90rem;
  }
}
