/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start of my styling */

html {
  font-size: 62.5%;
  background-color: #6409a3;
}

body {
  background: border-box;
  margin: 25px;
}

#main {
  background-color: #eee0e0;
  padding: 20px;
  /* border-radius: 10%; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1); */
  margin: 3%;
}

/* meet the team header */
h1 {
  font-size: 9rem;
  font-family: "Calligraffitti", cursive;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  text-shadow: 2px 2px #188210;
}

/* entire nav bar styling */
nav {
  font-family: "Cormorant Garamond", serif;
  display: flex;
  justify-content: center;
  font-size: 2.75rem;
  padding-bottom: 30px;
  padding-top: 20px;
  padding-left: 95px;
  padding-right: 95px;
}

/* each individual nav item styling */
nav a {
  color: black;
  text-decoration: none;
  border-radius: 40px;
  border: 2px solid #6409a3;
  padding: 10px;
  margin: 1%;
  font-family: "Lato", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

/* nav hover styling */
nav a:hover {
  background-color: #6409a3;
  text-decoration: none;
  color: #eee0e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

/* entire Meet the team section */
.team-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* jonah and danielle section */
.row-one {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  text-align: center;
}

/* rob, sean, and emilio section */
.row-two {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  text-align: center;
}

/* sizing on all headshot images */
img {
  width: 200px;
  border: solid #6409a3 2px;
  padding: 15px;
}

/* styling on meet Jonah */
.jonah h2 {
  font-family: "Calligraffitti", cursive;
  padding-top: 15px;
  font-size: 2.5rem;
}

.jonah p {
  font-size: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

.jonah a {
  font-size: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  color: black;
}

/* styling on meet danielle */
.danielle h2 {
  font-family: "Calligraffitti", cursive;
  padding-top: 15px;
  font-size: 2.5rem;
}

.danielle p {
  font-size: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

.danielle a {
  font-size: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  color: black;
}

/* styling on meet rob */
.rob h2 {
  font-family: "Calligraffitti", cursive;
  padding-top: 15px;
  font-size: 2.5rem;
}

.rob p {
  font-size: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

.rob a {
  font-size: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  color: black;
}

/* styling on meet emilio */
.emilio h2 {
  font-family: "Calligraffitti", cursive;
  padding-top: 15px;
  font-size: 2.5rem;
}

.emilio p {
  font-size: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

.emilio a {
  font-size: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  color: black;
}

/* styling on meet sean */
.sean h2 {
  font-family: "Calligraffitti", cursive;
  padding-top: 15px;
  font-size: 2.5rem;
}

.sean p {
  font-size: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

.sean a {
  font-size: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  color: black;
}

/* styling on footer copyright logo */
footer {
  color: black;
  text-decoration: none;
  font-family: "Calligraffitti", cursive;
  font-size: 2rem;
  padding: 5px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 999px) {
  nav {
    font-size: 2.25rem;
  }
}

@media (max-width: 800px) {
  nav {
    font-size: 2rem;
  }
}

@media (max-width: 800px){
  .row-one{
  flex-direction: column;
  }
  .row-two{
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  nav {
    font-size: 1.5rem;
  }
}